<div class="imagepost-box center">
    <section>
        <h1 class="title">{{currentPost.title}}</h1>
    </section>
    <section>
        <h4>{{curentPost.username}}</h4>
    </section>
    <section>
        <h5>{{currentPost.created}}</h5>
    </section>
    <section>
        <img class="image-view" src="/{{currentPost.photopath}}">
    </section>
    <section>
        <h3>{{currentPost.description}}</h3>
    </section>
</div>    